* {
	box-sizing: border-box; /*Makes sizing include padding and border*/
}

div {
	width: 100%;
	padding: 5px;
}

div.all {
	width: 1000px;
	margin: auto; /*Centers div*/
	padding: 0px !important;
}

div.header {
	height: 200px;
<<<<<<< HEAD
	background-color: #70A288;
	color: #0D1344;
	font-size:40px;
=======
	background-color: #ffcccc;
	color:black;
	font-size:20px;
	font-family:Times;
	color:blue;
	font-size:23px;
>>>>>>> origin/master
	font-family:Impact;
}

div.navbar {
	height: 30px;
	background-color: #70A288;
}

div.body {
	padding: 0px !important;
}

div.content {
	width: 75% !important;
	float: left; /*Puts content and sidebar next to each other*/
	background-color: #70A288;
}

div.sidebar {
	width: 25% !important;
	float: left; /*Puts content and sidebar next to each other*/
<<<<<<< HEAD
	background-color: #70A288;
=======
	background-color: #ccccff;
	min-height: 186px;
>>>>>>> origin/master
}

div.footer {
	height: 100px;
	background-color: #70A288;
	font-size:10px;
}

img.logo {
	float:right;
}

img.robot {
	margin-left:auto;
	margin-right:auto;
	display:block;
}

body {
	background-color: #70A288; 
}